In [1]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd

In [4]:
my_ser = Series([1,2,3,4] , index = ['A','B','C','D'])
my_ser

my_index = my_ser.index
my_index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [10]:
my_ser[my_index[2]]


my_index[2:]
my_index[0]
my_index[0]= 'z'

TypeError: Index does not support mutable operations

In [12]:
# Reindexing
from numpy.random import randn

In [23]:
ser1 = Series(np.arange(5) , index = ['a','b','c','d','e'])
ser1

ser2 = ser1.reindex(['a','b','c','d','e','f'] , fill_value =0)

In [24]:
ser2

a    0
b    1
c    2
d    3
e    4
f    0
dtype: int32

In [25]:
ser1

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [39]:
dframe = DataFrame(randn(25).reshape(5,5) , index= ['a','b','c','d','e'] ,
                  columns = ['col1','col2','col3','col4','col5'])

dframe

dframe2 = dframe.reindex(['a','b','c','d','e','f'])
dframe2

new_colums =  ['col1','col2','col3','col4','col5', 'col5','col6']

dframe2.reindex(columns =new_colums)

       col1      col2      col3      col4      col5      col5  col6
a -1.457578 -0.173221  0.218193 -2.068459 -1.115607 -1.115607   NaN
b  1.541967 -0.174200  1.167882 -0.268815  0.505550  0.505550   NaN
c -0.857933  0.155134  1.307607  0.600353 -0.769888 -0.769888   NaN
d  0.077148  0.396692 -0.321044 -0.808879 -0.239619 -0.239619   NaN
e -0.103761  1.361682 -1.405129 -1.711104  0.493866  0.493866   NaN
f       NaN       NaN       NaN       NaN       NaN       NaN   NaN

In [40]:
dframe.ix[['a','b','c','d','e','f'] , new_colums]

       col1      col2      col3      col4      col5      col5  col6
a -1.457578 -0.173221  0.218193 -2.068459 -1.115607 -1.115607   NaN
b  1.541967 -0.174200  1.167882 -0.268815  0.505550  0.505550   NaN
c -0.857933  0.155134  1.307607  0.600353 -0.769888 -0.769888   NaN
d  0.077148  0.396692 -0.321044 -0.808879 -0.239619 -0.239619   NaN
e -0.103761  1.361682 -1.405129 -1.711104  0.493866  0.493866   NaN
f       NaN       NaN       NaN       NaN       NaN       NaN   NaN

In [44]:
ser3 = Series(['USA','Mexico','Canada'] , index =  [0,5,10])

ser3
ser3.drop(5)

0        USA
10    Canada
dtype: object

In [34]:
ser3 = Series(['USA','Mexico','Canada'] , index =  [0,5,10])
ser3

ser3.reindex(range(15) , method = 'bfill')

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object