In [3]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame

In [7]:
obj = Series([3,6,9])
obj

obj.values
obj.index

obj.dtype

dtype('int64')

In [10]:
ww2_cas = Series([870000,43000,3333300,21000,222200] , 
                 index=['USSR','Germany','China','Japan','India'])
ww2_cas

ww2_cas['USSR']

870000

In [13]:
#Check which countries has > 4000
ww2_cas[ww2_cas > 40000]

'USSR' in ww2_cas

True

In [15]:
#Series to Dict
ww2_dict = ww2_cas.to_dict()
ww2_dict

#Dict to Series
Series(ww2_dict)

China      3333300
Germany      43000
India       222200
Japan        21000
USSR        870000
dtype: int64

In [18]:
countries = ['Germany','China','Japan','USA' , 'USSR' , 'Argentina']

obj2 = Series(ww2_dict , index = countries)

In [19]:
obj2

Germany        43000.0
China        3333300.0
Japan          21000.0
USA                NaN
USSR          870000.0
Argentina          NaN
dtype: float64

In [21]:
pd.isnull(obj2)

pd.notnull(obj2)

Germany       True
China         True
Japan         True
USA          False
USSR          True
Argentina    False
dtype: bool

In [26]:
obj2

Germany        43000.0
China        3333300.0
Japan          21000.0
USA                NaN
USSR          870000.0
Argentina          NaN
dtype: float64

In [27]:
ww2_cas

USSR        870000
Germany      43000
China      3333300
Japan        21000
India       222200
dtype: int64

In [28]:
obj2+ww2_cas

Argentina          NaN
China        6666600.0
Germany        86000.0
India              NaN
Japan          42000.0
USA                NaN
USSR         1740000.0
dtype: float64

In [29]:
obj2.name = "World War2 Casualities"

In [30]:
obj2

Germany        43000.0
China        3333300.0
Japan          21000.0
USA                NaN
USSR          870000.0
Argentina          NaN
Name: World War2 Casualities, dtype: float64

In [32]:
obj2.index.name='Cuntries'
obj2

Cuntries
Germany        43000.0
China        3333300.0
Japan          21000.0
USA                NaN
USSR          870000.0
Argentina          NaN
Name: World War2 Casualities, dtype: float64

In [33]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [34]:
import webrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

ImportError: No module named webrowser

In [38]:
nfl_frame  = pd.read_clipboard()
nfl_frame

nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [54]:
# nfl_frame['Season']

#columns
nfl_frame = DataFrame(nfl_frame, columns = ['Rank', 'Team', 'Won', 'Lost','Stadium'])

In [57]:
nfl_frame.tail(5)

nfl_frame.ix[3]

nfl_frame.Stadium = "Levis Stadium"
nfl_frame.head()

# nfl_frame.Stadium = np.arange(5)

   Rank     Team       Won      Lost        Stadium
0     1   Dallas   Cowboys       493  Levis Stadium
1     2    Green       Bay   Packers  Levis Stadium
2     3  Chicago     Bears       744  Levis Stadium
3     4    Miami  Dolphins       439  Levis Stadium
4     5      New   England  Patriots  Levis Stadium

In [60]:
stadiums = Series(["Stadium1" , "Stadium2"] , index = [4,0])
stadiums

4    Stadium1
0    Stadium2
dtype: object

In [61]:
nfl_frame['Stadium'] = stadiums

In [63]:
nfl_frame.head()

del nfl_frame['Stadium']

In [64]:
nfl_frame.head()

   Rank     Team       Won      Lost
0     1   Dallas   Cowboys       493
1     2    Green       Bay   Packers
2     3  Chicago     Bears       744
3     4    Miami  Dolphins       439
4     5      New   England  Patriots

In [66]:
data = {'city' : ['SF','LA','NYC'] , 'popualtion' : [83700,355555,55555]}

In [68]:
city_frame = DataFrame(data)
city_frame

  city  popualtion
0   SF       83700
1   LA      355555
2  NYC       55555